
<section class = "login-form">
    <br><br><br><br><br><br><br><br><br>
      <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f ="ngForm" (ngSubmit)="onSubmit(f)"> 
    
          <h1 style="color:steelblue;">LOGIN FORM :</h1>
    
          <mat-form-field>
              <input type="email" matInput placeholder="Email" ngModel name="email" required #emailInput="ngModel"><mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error><mat-error *ngIf="!emailInput.hasError('required')">Email you entered is invalid!</mat-error>
            </mat-form-field>
          
            <mat-form-field>
              <input type="password" matInput placeholder="Enter your password" ngModel name="password" required minLength="6" #pwInput ="ngModel"> 
            </mat-form-field>
        
            <button type="submit" mat-stroked-button color="primary" [disabled]="f.invalid">Login</button>
    
      </form>
    </section>